[Unit]
Description=Red-DiscordBot %i
After=multi-user.target

[Service]
Type=idle
User=red
Group=red
WorkingDirectory=/srv/red/%i/
ExecStart=/usr/bin/python3.5 /srv/red/%i/red.py --no-prompt

# If set to "on-failure" Red will only restart when it crashed or froze, but not when [p]shutdown is used. (froze untested)
# If set to "always" Red will always attempt to restart regardless of how it was turned off.
Restart=always

# Limit waiting for Red to stop to 30 seconds to prevent terminal from freezing up.
TimeoutStopSec="30"

# Send SIGINT for graceful stop
KillSignal=SIGINT
KillMode=mixed

# Discord hearbeat is about every 40 seconds. Using 90 to be safe from false restarts.
WatchdogSec=90

[Install]
WantedBy=multi-user.target
